# Introduction 

This notebook will generate a common employment data with following columns :
1. ID : Employe ID
2. DOB : Date of Birth
3. DOH : Date of Hire
4. Salary

The aim of this notebook is that Consulting Actuary Company or any other company that work with employee data can have an open employee data that they can generate on their own for training or education purposes.

# Data Generator

To minimize the error of data, the range of date of the data will be between 1 to 28 (instead of 1 to 31 like normal calendar).

In [2]:
# Packages
import pandas as pd # DataFrame
import numpy as np # Vector or Matrices
import datetime # Date time

In [3]:
emp_counts = 5 # Length of Data

# Creating DataFrame
data = pd.DataFrame(data = {"id" : np.random.randint(0, emp_counts*10, emp_counts), 
                            'dob' : [str(np.random.randint(1970, 2001)) + '-' + str(np.random.randint(1,12)) + '-' + str(np.random.randint(1,29)) for i in range (emp_counts)],
                            'doh' : [str(np.random.randint(2008, 2022)) + '-' + str(np.random.randint(1,12)) + '-' + str(np.random.randint(1,29)) for i in range (emp_counts)],
                            'salary' : np.round(np.random.randn(emp_counts)**2*1e4,2)})
data['dob'] = pd.to_datetime(data['dob'])
data['doh'] = pd.to_datetime(data['doh'])
data

   id        dob        doh    salary
0  45 1986-09-10 2010-04-27    128.26
1  47 1970-06-26 2009-06-25   7374.20
2   6 1973-06-02 2014-11-20  15620.54
3   2 1970-06-20 2021-07-24  16248.01
4   2 1978-08-07 2018-06-09   4020.37

In [4]:
# To save in Excel Format
data.to_excel(f'data/employee-data-with-{emp_counts}-data.xlsx')

# Actuarial Assumption 
## Mortality and Morbidity Distribution

We will make a mortality Table from Makeham Distribution with parameters as follow 
$A = 0.00022, B = 2.7 × 10^{−6}, c = 1.124$. In general, the Survival Function of Makeham Distribution is :
\begin{equation}
S_X(t) = \exp(-A)\exp\left(\left(-\frac{B}{\ln{c}}c^x\left(c^t-1\right)\right)\right)
\end{equation}

In [5]:
def p(t,x, A = 0.00022, B = 2.7e-06, c = 1.124) :
    return np.exp(-A)*np.exp((-B/np.log(c)*c**x*(c**t-1)))

We also assume that Morbidity is 1% of the Mortality Rate

## Resignation Rate
Since assumption on resignation rate can be vary across company, we will use a simple assumption that is the rate is 10% at the age of 22 and decrease linearly to 1% at the age of retirement - 1.

# Economic Assumption 
Since the yield curve data hasn't been modeled in this repository, we assume a single discount rate with 5% p.a. and salary increase 10% p.a.
We also assume that the severance, service and seperation pay as follow :
| Yos | Sev | Svc |
|:---:|:---:|:---:|
|  0  |  1  |  0  |
|  1  |  2  |  0  |
|  2  |  3  |  0  |
|  3  |  4  |  2  |
|  4  |  5  |  2  |
|  5  |  6  |  2  |
|  6  |  7  |  3  |
|  7  |  8  |  3  |
|  8  |  9  |  3  |
|  9  |  9  |  4  |
|  10 |  9  |  4  |
|  11 |  9  |  4  |
|  12 |  9  |  5  |
|  13 |  9  |  5  |
|  14 |  9  |  5  |
|  15 |  9  |  6  |
|  16 |  9  |  6  |
|  17 |  9  |  6  |
|  18 |  9  |  7  |
|  19 |  9  |  7  |
|  20 |  9  |  7  |
|  21 |  9  |  8  |
|  22 |  9  |  8  |
|  23 |  9  |  8  |
|  24 |  9  |  10 |
|  25 |  9  |  10 |
|  26 |  9  |  10 |
|  27 |  9  |  10 |
|  28 |  9  |  10 |
|  29 |  9  |  10 |
|  30 |  9  |  10 |  

And a benefit table as follow: 

| YoS | Pension | Death | Disability | Resign |
|:---:|:-------:|:-----:|:----------:|:------:|
|  0  |   1.75  |   2   |      2     |   0.5  |
|  1  |   3.5   |   4   |      4     |    1   |
|  2  |   5.25  |   6   |      6     |   1.5  |
|  3  |    9    |   10  |     10     |    2   |
|  4  |  10.75  |   12  |     12     |   2.5  |
|  5  |   12.5  |   14  |     14     |    3   |
|  6  |  15.25  |   17  |     17     |   3.5  |
|  7  |    17   |   19  |     19     |    4   |
|  8  |  18.75  |   21  |     21     |   4.5  |
|  9  |  19.75  |   22  |     22     |   4.5  |
|  10 |  19.75  |   22  |     22     |   4.5  |
|  11 |  19.75  |   22  |     22     |   4.5  |
|  12 |  20.75  |   23  |     23     |   4.5  |
|  13 |  20.75  |   23  |     23     |   4.5  |
|  14 |  20.75  |   23  |     23     |   4.5  |
|  15 |  21.75  |   24  |     24     |   4.5  |
|  16 |  21.75  |   24  |     24     |   4.5  |
|  17 |  21.75  |   24  |     24     |   4.5  |
|  18 |  22.75  |   25  |     25     |   4.5  |
|  19 |  22.75  |   25  |     25     |   4.5  |
|  20 |  22.75  |   25  |     25     |   4.5  |
|  21 |  23.75  |   26  |     26     |   4.5  |
|  22 |  23.75  |   26  |     26     |   4.5  |
|  23 |  23.75  |   26  |     26     |   4.5  |
|  24 |  25.75  |   28  |     28     |   4.5  |
|  25 |  25.75  |   28  |     28     |   4.5  |
|  26 |  25.75  |   28  |     28     |   4.5  |
|  27 |  25.75  |   28  |     28     |   4.5  |
|  28 |  25.75  |   28  |     28     |   4.5  |
|  29 |  25.75  |   28  |     28     |   4.5  |
|  30 |  25.75  |   28  |     28     |   4.5  |

## Pre-Processing Data
We need the information of **Age** and **Year of Service (YOS)** of each of the employees. For that we also need to define the **valuation date**. Let's assume the valuation date is 31 December 2022

In [6]:
val_date = pd.Timestamp('2022-12-31')
data['age'] = np.round((val_date- data.dob)/np.timedelta64(1, 'Y'),2)
data['yos'] = np.round((val_date- data.doh)/np.timedelta64(1, 'Y'),2)

In [7]:
data

   id        dob        doh    salary    age    yos
0  45 1986-09-10 2010-04-27    128.26  36.31  12.68
1  47 1970-06-26 2009-06-25   7374.20  52.52  13.52
2   6 1973-06-02 2014-11-20  15620.54  49.58   8.11
3   2 1970-06-20 2021-07-24  16248.01  52.53   1.44
4   2 1978-08-07 2018-06-09   4020.37  44.40   4.56

# Calculating the Post Employment Benefit