# Introduction 

This notebook will generate a common employment data with following columns :
1. ID : Employe ID
2. DOB : Date of Birth
3. DOH : Date of Hire
4. Salary

The aim of this notebook is that Consulting Actuary Company or any other company that work with employee data can have an open employee data that they can generate on their own for training or education purposes.

# Data Generator

To minimize the error of data, the range of date of the data will be between 1 to 28 (instead of 1 to 31 like normal calendar).

In [100]:
# Packages
import pandas as pd # DataFrame
import numpy as np # Vector or Matrices
import datetime # Date time

In [101]:
def generate_date(year_1 = 1980, year_2 = 2000):
    return datetime.datetime(year_1, 1, 1) + datetime.timedelta(days= np.random.randint((datetime.datetime(year_2, 12,31) - datetime.datetime(year_1, 1,1)).days))

In [102]:
emp_counts = int(1e3)

# Creating DataFrame
data = pd.DataFrame(data = {"id" : np.random.randint(0, emp_counts*10, emp_counts), 
                            'dob' : [generate_date() for i in range(emp_counts)],
                            'doh' : [generate_date(year_1 = 2008, year_2 = 2023) for i in range(emp_counts)],
                            'salary' : np.round(np.random.randn(emp_counts)**2*1e4,2)})
data['dob'] = pd.to_datetime(data['dob'])
data['doh'] = pd.to_datetime(data['doh'])
data

       id        dob        doh    salary
0    5548 1993-08-13 2021-06-09    699.16
1    6604 1998-01-23 2020-11-04   4198.67
2    5667 1994-03-01 2009-06-13  12086.41
3    3922 1991-06-03 2023-03-07  18825.05
4    1149 1998-09-20 2023-09-20  27045.58
..    ...        ...        ...       ...
995  2211 1980-03-24 2018-01-03    196.71
996   355 1982-08-01 2012-09-25    154.36
997  1652 1981-10-05 2016-02-20   1839.38
998  8731 1983-12-12 2013-08-05   2595.02
999  9192 1983-05-27 2020-12-15  16348.92

[1000 rows x 4 columns]

In [103]:
# To save in Excel Format
#data.to_excel(f'data/employee-data-with-{emp_counts}-data.xlsx')

# Actuarial Assumption 
## Mortality and Morbidity Distribution

We will make a mortality Table from Makeham Distribution with parameters as follow 
$A = 0.00022, B = 2.7 × 10^{−6}, c = 1.124$. In general, the Survival Function of Makeham Distribution is :
\begin{equation}
S_X(t) = \exp(-A)\exp\left(\left(-\frac{B}{\ln{c}}c^x\left(c^t-1\right)\right)\right)
\end{equation}

In [104]:
def p(t,x, A = 0.00022, B = 2.7e-06, c = 1.124) :
    return np.exp(-A)*np.exp((-B/np.log(c)*c**x*(c**t-1)))

We also assume that Morbidity is 1% of the Mortality Rate

## Resignation Rate
Since assumption on resignation rate can be vary across company, we will use a simple assumption that is the rate is 10% at the age of 22 and decrease linearly to 1% at the age of retirement - 1.

# Economic Assumption 
Since the yield curve data hasn't been modeled in this repository, we assume a single discount rate with 5% p.a. and salary increase 10% p.a.
We also assume that the severance, service and seperation pay as follow :
| Yos | Sev | Svc |
|:---:|:---:|:---:|
|  0  |  1  |  0  |
|  1  |  2  |  0  |
|  2  |  3  |  0  |
|  3  |  4  |  2  |
|  4  |  5  |  2  |
|  5  |  6  |  2  |
|  6  |  7  |  3  |
|  7  |  8  |  3  |
|  8  |  9  |  3  |
|  9  |  9  |  4  |
|  10 |  9  |  4  |
|  11 |  9  |  4  |
|  12 |  9  |  5  |
|  13 |  9  |  5  |
|  14 |  9  |  5  |
|  15 |  9  |  6  |
|  16 |  9  |  6  |
|  17 |  9  |  6  |
|  18 |  9  |  7  |
|  19 |  9  |  7  |
|  20 |  9  |  7  |
|  21 |  9  |  8  |
|  22 |  9  |  8  |
|  23 |  9  |  8  |
|  24 |  9  |  10 |
|  25 |  9  |  10 |
|  26 |  9  |  10 |
|  27 |  9  |  10 |
|  28 |  9  |  10 |
|  29 |  9  |  10 |
|  30 |  9  |  10 |

In [105]:
sev_svc = pd.DataFrame({'severance': [min(i+1,9) for i in range(60)],
                        'service' : [0,0,0,2,2,2,3,3,3,
                                     4,4,4,5,5,5,6,6,6,
                                     7,7,7,8,8,8,10,10,10,10,10,10,10,
                                     10,10,10,10,10,10,10,10,10,10,10,10,10,10,
                                     10,10,10,10,10,10,10,10,10,10,10,10,10,10,10]})
sev_svc

    severance  service
0           1        0
1           2        0
2           3        0
3           4        2
4           5        2
5           6        2
6           7        3
7           8        3
8           9        3
9           9        4
10          9        4
11          9        4
12          9        5
13          9        5
14          9        5
15          9        6
16          9        6
17          9        6
18          9        7
19          9        7
20          9        7
21          9        8
22          9        8
23          9        8
24          9       10
25          9       10
26          9       10
27          9       10
28          9       10
29          9       10
30          9       10
31          9       10
32          9       10
33          9       10
34          9       10
35          9       10
36          9       10
37          9       10
38          9       10
39          9       10
40          9       10
41          9       10
42          9       10
43          9       10
44          9       10
45          9       10
46          9       10
47          9       10
48          9       10
49          9       10
50          9       10
51          9       10
52          9       10
53          9       10
54          9       10
55          9       10
56          9       10
57          9       10
58          9       10
59          9       10

And a benefit table as follow: 

| YoS | Pension | Death | Disability | Resign |
|:---:|:-------:|:-----:|:----------:|:------:|
|  0  |   1.75  |   2   |      2     |   0.5  |
|  1  |   3.5   |   4   |      4     |    1   |
|  2  |   5.25  |   6   |      6     |   1.5  |
|  3  |    9    |   10  |     10     |    2   |
|  4  |  10.75  |   12  |     12     |   2.5  |
|  5  |   12.5  |   14  |     14     |    3   |
|  6  |  15.25  |   17  |     17     |   3.5  |
|  7  |    17   |   19  |     19     |    4   |
|  8  |  18.75  |   21  |     21     |   4.5  |
|  9  |  19.75  |   22  |     22     |   4.5  |
|  10 |  19.75  |   22  |     22     |   4.5  |
|  11 |  19.75  |   22  |     22     |   4.5  |
|  12 |  20.75  |   23  |     23     |   4.5  |
|  13 |  20.75  |   23  |     23     |   4.5  |
|  14 |  20.75  |   23  |     23     |   4.5  |
|  15 |  21.75  |   24  |     24     |   4.5  |
|  16 |  21.75  |   24  |     24     |   4.5  |
|  17 |  21.75  |   24  |     24     |   4.5  |
|  18 |  22.75  |   25  |     25     |   4.5  |
|  19 |  22.75  |   25  |     25     |   4.5  |
|  20 |  22.75  |   25  |     25     |   4.5  |
|  21 |  23.75  |   26  |     26     |   4.5  |
|  22 |  23.75  |   26  |     26     |   4.5  |
|  23 |  23.75  |   26  |     26     |   4.5  |
|  24 |  25.75  |   28  |     28     |   4.5  |
|  25 |  25.75  |   28  |     28     |   4.5  |
|  26 |  25.75  |   28  |     28     |   4.5  |
|  27 |  25.75  |   28  |     28     |   4.5  |
|  28 |  25.75  |   28  |     28     |   4.5  |
|  29 |  25.75  |   28  |     28     |   4.5  |
|  30 |  25.75  |   28  |     28     |   4.5  |

In [106]:
ben_fac = pd.DataFrame({'retire': 1.75*sev_svc['severance']+sev_svc['service'],
                        'death': 2*sev_svc['severance']+sev_svc['service'],
                        'disable': 2*sev_svc['severance']+sev_svc['service'],
                        'resign': [1]*sev_svc.shape[0]})
ben_fac

    retire  death  disable  resign
0     1.75      2        2       1
1     3.50      4        4       1
2     5.25      6        6       1
3     9.00     10       10       1
4    10.75     12       12       1
5    12.50     14       14       1
6    15.25     17       17       1
7    17.00     19       19       1
8    18.75     21       21       1
9    19.75     22       22       1
10   19.75     22       22       1
11   19.75     22       22       1
12   20.75     23       23       1
13   20.75     23       23       1
14   20.75     23       23       1
15   21.75     24       24       1
16   21.75     24       24       1
17   21.75     24       24       1
18   22.75     25       25       1
19   22.75     25       25       1
20   22.75     25       25       1
21   23.75     26       26       1
22   23.75     26       26       1
23   23.75     26       26       1
24   25.75     28       28       1
25   25.75     28       28       1
26   25.75     28       28       1
27   25.75     28       28       1
28   25.75     28       28       1
29   25.75     28       28       1
30   25.75     28       28       1
31   25.75     28       28       1
32   25.75     28       28       1
33   25.75     28       28       1
34   25.75     28       28       1
35   25.75     28       28       1
36   25.75     28       28       1
37   25.75     28       28       1
38   25.75     28       28       1
39   25.75     28       28       1
40   25.75     28       28       1
41   25.75     28       28       1
42   25.75     28       28       1
43   25.75     28       28       1
44   25.75     28       28       1
45   25.75     28       28       1
46   25.75     28       28       1
47   25.75     28       28       1
48   25.75     28       28       1
49   25.75     28       28       1
50   25.75     28       28       1
51   25.75     28       28       1
52   25.75     28       28       1
53   25.75     28       28       1
54   25.75     28       28       1
55   25.75     28       28       1
56   25.75     28       28       1
57   25.75     28       28       1
58   25.75     28       28       1
59   25.75     28       28       1

## Pre-Processing Data
We need the information of **Age** and **Year of Service (YOS)** of each of the employees. For that we also need to define the **valuation date**. Let's assume the valuation date is 31 December 2022

In [107]:
val_date = pd.Timestamp('2022-12-31')
data['age'] = np.round((val_date- data.dob)/np.timedelta64(1, 'Y'),2)
data['yos'] = np.round((val_date- data.doh)/np.timedelta64(1, 'Y'),2)

In [108]:
data

       id        dob        doh    salary    age    yos
0    5548 1993-08-13 2021-06-09    699.16  29.38   1.56
1    6604 1998-01-23 2020-11-04   4198.67  24.94   2.15
2    5667 1994-03-01 2009-06-13  12086.41  28.84  13.55
3    3922 1991-06-03 2023-03-07  18825.05  31.58  -0.18
4    1149 1998-09-20 2023-09-20  27045.58  24.28  -0.72
..    ...        ...        ...       ...    ...    ...
995  2211 1980-03-24 2018-01-03    196.71  42.77   4.99
996   355 1982-08-01 2012-09-25    154.36  40.42  10.26
997  1652 1981-10-05 2016-02-20   1839.38  41.24   6.86
998  8731 1983-12-12 2013-08-05   2595.02  39.05   9.40
999  9192 1983-05-27 2020-12-15  16348.92  39.60   2.04

[1000 rows x 6 columns]

# Calculating the Post Employment Benefit

In [112]:
def present_value(df = data, sal_inc = 0.03,i = 0.05, nra = 55):
    sum = [0]*df.shape[0]
    for n in range(df.shape[0]):
        inc_ = np.array([(1+sal_inc)**k for k in range(nra - int(df.age[n]))])
        pv = np.array([(1+i)**(-k) for k in range(nra - int(df.age[n]))])               
        ben_ = ben_fac.iloc[int(df.yos[n]):(int(df.yos[n]) + nra - int(df.age[n])), 1:].T.dot(np.multiply(df.salary[n]*inc_,pv))
        sum[n] = ben_.sum() + ben_fac.iloc[int(data.yos[n] + nra - data.age[n]),0]*df.salary[n]*(1+sal_inc)**(data.yos[n] + nra - data.age[n])*(1+i)**(-data.yos[n] + nra - data.age[n])
    return sum

In [114]:
present_value()

[727440.2458147856,
 5558696.563898008,
 15682520.45351464,
 16692863.755142415,
 34207070.68893922,
 284067.01508333813,
 331654.42809910304,
 165361.4396154205,
 370881.784553132,
 22606508.95965867,
 25792838.99757773,
 3670931.8812431907,
 35202345.348050684,
 1846014.746334577,
 1299091.1497358552,
 5906512.948870984,
 883470.8105492399,
 6677047.916470289,
 2443775.5775423395,
 4020869.1059565833,
 17428968.36128881,
 19684696.6761903,
 1876383.7120608583,
 3838380.4121796507,
 553646.1578541743,
 110240.424961425,
 3218776.2690887926,
 3698454.140755199,
 14248421.552137116,
 7501684.6063791225,
 4752466.503948306,
 2609984.9129458168,
 186075.57511220954,
 12367636.142435916,
 1246631.4520295062,
 11573014.204120032,
 1757956.1954552513,
 483499.94397882104,
 29684365.168872837,
 23649216.018095963,
 345293.2947892388,
 9448773.383889755,
 49811.70587290588,
 18608909.11305525,
 194433.63093642352,
 491227.58167918393,
 21259250.33733873,
 4477029.981330254,
 57440245.81005737,
 8086687.73045493,
 519936.89574373607,
 7454603.715808692,
 26529053.086939927,
 1238310.1635138167,
 5926.104221245551,
 2529026.475467608,
 19833696.510657653,
 18302404.541016653,
 8210673.898334943,
 2134446.121301052,
 2472567.4639543947,
 272419.47335249,
 8446.595873489734,
 136022.81204397074,
 8969713.903944824,
 8747751.341001393,
 303646.05785370903,
 9593932.34895721,
 10806323.433800496,
 1619642.5717714797,
 477569.5862477202,
 4738086.7351507945,
 77506.9872040714,
 6352259.06828855,
 10708705.592788193,
 31553990.087006625,
 7105503.2934022555,
 6185851.989180399,
 13440761.796659924,
 3899850.740514145,
 977.2268908655591,
 18127.9022170852,
 11031198.27658727,
 1290441.9817965357,
 10415230.999632573,
 7684.624960052244,
 6179597.304193993,
 3529483.217055026,
 4658945.61954451,
 11531444.934082747,
 864915.9945897012,
 7396524.967534508,
 959518.4507775569,
 13790850.411820417,
 2438801.021307175,
 3983571.9969300646,
 41490071.656484306,
 11920281.634819053,
 296735.9508624862,
 15137387.16785926,
 48573253.33904547,
 103687275.32441166,
 4251859.934968198,
 5786550.69025949,
 10192979.34312058,
 39022228.65937929,
 3775227.4276941614,
 6829516.034247318,
 30470532.658267844,
 3899760.296091045,
 11894909.39647833,
 30932137.707423568,
 98241883.96222313,
 2775595.71678212,
 4045817.6278223596,
 13812475.264319804,
 3226368.2293432327,
 5135773.993382355,
 13956798.667736424,
 12701636.731398446,
 4954574.217540307,
 4607355.294623056,
 85672.48930721573,
 15350901.664153658,
 5815955.364379358,
 22733793.86812216,
 5101885.624463781,
 20792016.842240907,
 7117845.652969437,
 3621608.3396638576,
 27219988.048562266,
 7054032.338179452,
 8332980.475924992,
 196371.91840189975,
 6604604.562901593,
 7077845.658049932,
 1587053.9846910418,
 6101585.914115616,
 47012576.20554865,
 1268139.7876060922,
 2150653.6048770286,
 33729709.116407596,
 2935859.60120932,
 1022341.3255780976,
 194219.55057669556,
 272102.53176727536,
 361724.8647535685,
 4510788.2068088865,
 11853202.947575806,
 2265763.3516917927,
 5601012.116362808,
 11470798.908691872,
 19932855.575254574,
 2577598.597787971,
 149493.1618482639,
 17182778.165258452,
 748514.2789934565,
 15856691.703320112,
 29520104.664355256,
 13205228.084224382,
 10512388.296261806,
 9248833.22282156,
 34862877.13267122,
 35540756.7702001,
 24834256.056871098,
 14109237.889056,
 3520853.8216961315,
 210510.9048853158,
 2358161.880778284,
 16173404.84706593,
 1203426.3320322905,
 1986248.327692081,
 188211.1220205069,
 11881303.6750193,
 19793997.144824818,
 152929.44673967065,
 28038772.488438644,
 1862714.9630209894,
 14636264.829710951,
 228352.06875043054,
 381561.71439663525,
 1837922.9857150803,
 14062651.286958782,
 11495046.841031503,
 20489.124833922986,
 2436266.102745532,
 21792244.201276634,
 2114752.9856715295,
 20633004.777490333,
 4662189.426591392,
 4999067.310025861,
 610323.4471458122,
 10248696.555448493,
 2016659.0546675716,
 4424064.664125614,
 2404324.6484615025,
 106449.07467698782,
 209307.67811307558,
 3292347.9039040403,
 3400654.1569495643,
 3595612.8502443694,
 899.814963178677,
 31227809.67396604,
 20211446.350392744,
 4230698.623095405,
 3444573.185220933,
 821064.6128047288,
 15229209.035004584,
 10129233.003845392,
 15644862.293369237,
 49730.229898956146,
 34284.25262560219,
 1276620.624121911,
 562560.5491293994,
 5869170.607069407,
 32614654.33766851,
 16067644.578762755,
 22779066.014941797,
 1222719.646744148,
 2615610.765185877,
 56645.69649021835,
 153081.8676636715,
 1931833.2359729616,
 7349129.836018327,
 184567.2232881346,
 8194522.416965996,
 15639982.942221604,
 389003.0578333926,
 2334785.3226874257,
 5635239.766142797,
 3642912.886782138,
 36722949.01503265,
 3162818.4886771883,
 19654764.820920385,
 143415.77582405266,
 715369.0975371988,
 5162726.169590081,
 1854498.3871816695,
 52172662.89673327,
 3029796.4011886613,
 56510064.834125236,
 63846.23733539642,
 215985.79381963407,
 48964143.627692744,
 368908.99646861,
 2602485.541418638,
 6778099.584771314,
 10465732.996908074,
 413593.5781222955,
 46448685.35124692,
 5899553.642285377,
 5610235.173855019,
 6599690.27311302,
 2318875.7410128727,
 4096678.646677496,
 47060960.02172327,
 170641.68395312523,
 5557604.969003141,
 5822440.666559821,
 946849.4780818672,
 124136456.7042432,
 3219464.971834031,
 38803802.91177808,
 5647688.278674498,
 10801.25661564212,
 195572.50065446776,
 2032165.6982335688,
 22470293.80924603,
 7133991.874940936,
 537136.6318893417,
 12540153.230569242,
 14796967.083427424,
 26236849.80815845,
 2567153.6833669282,
 22212136.810234178,
 42900919.73285142,
 571685.6944066838,
 15648507.767682027,
 28512330.32230089,
 10696591.47358168,
 16203192.591124311,
 1118866.0983500786,
 140246.60965303823,
 972479.0936843544,
 1470668.8761655327,
 30398136.876740884,
 441005.63109236624,
 23781942.52367428,
 325816.2581169822,
 6916690.807582758,
 22373830.699729457,
 15854739.152389647,
 1075.6059377681609,
 7271709.627175268,
 44198962.45913425,
 2940377.057735837,
 354786.2669099499,
 7060729.751240432,
 8385769.823346698,
 1228575.4843369185,
 2445471.74480161,
 32035.018038353417,
 90538.15841356147,
 1080998.2216154775,
 5578669.145350882,
 9313754.513087349,
 45.20401989568567,
 12756120.119236106,
 10394227.392749421,
 31075665.154781893,
 13119760.50904153,
 489385.8559034798,
 3616754.8327632532,
 15432262.101181729,
 63356843.37443516,
 2338648.961967452,
 4438034.083540544,
 30709707.144181475,
 2214346.4852026966,
 4279288.731599926,
 7269025.849776227,
 6280837.534612653,
 4678054.6542905,
 33845958.33000904,
 3433047.1944529368,
 31597665.997381803,
 23627369.588263974,
 569190.1216347825,
 168335.73992697278,
 587125.0784050939,
 32490868.208739556,
 11527408.96370996,
 14871093.756883033,
 517583.4004272658,
 7505510.392346999,
 22633311.80199835,
 8758726.29904397,
 1124312.1977963685,
 4062481.4193998966,
 79403.11074126071,
 13218579.050892288,
 2899680.9493811373,
 14230181.287452208,
 6655912.112970566,
 82249.34378567035,
 4086182.331102164,
 4558263.515472433,
 390134.47556954034,
 2535809.9207562627,
 446424.2210044809,
 23213417.545875076,
 59266.88558011951,
 12056376.558089938,
 98403.81758256505,
 27242178.075528964,
 470642.94594378123,
 7341646.599265331,
 21088918.735240888,
 3166648.5474176547,
 1880072.849177878,
 5620367.691569946,
 740581.8582623117,
 1923864.3675461863,
 22848500.598529622,
 36970559.35346921,
 504526.491555855,
 766150.6318785776,
 34444.910963017544,
 2728279.5194490105,
 3060544.8590387916,
 2560179.056592956,
 29439899.28501223,
 4406299.6953292815,
 1735692.9505176498,
 14102251.62629709,
 966382.3157630257,
 8246929.102266954,
 655220.6042748243,
 1603124.5576825088,
 464448.69279346033,
 294446.4674589734,
 12664241.31742289,
 4751551.056700226,
 19387596.1499916,
 5084691.915865087,
 15013514.203659754,
 15145.493753178038,
 265872.45951879566,
 84631.6064519432,
 3392761.190133786,
 42060790.639997594,
 61891.78429557488,
 12674212.925180584,
 18944627.48242762,
 869253.1184918524,
 79630933.21506134,
 19324758.560305275,
 42392794.78467596,
 5064616.775145589,
 29187486.203362115,
 50842.78345170517,
 1285401.9504992135,
 10293741.09709841,
 65291.61414073899,
 206275483.9057014,
 5503106.910250194,
 52695.151310549045,
 20214512.905527115,
 3021804.149773408,
 30051139.11329162,
 22340337.623189054,
 19996231.66452196,
 2462470.1344942763,
 13270701.448802873,
 24537339.554019347,
 164789.9659423393,
 5537035.225819848,
 37946237.057855524,
 5201111.83404412,
 277838.97865315794,
 33626314.4668837,
 1141343.5438801032,
 278275.61943416967,
 1282551.457873865,
 21783352.430343114,
 26063470.465737935,
 8724088.18812522,
 2161419.298261089,
 7395558.679346822,
 49547397.7703571,
 71352.59273843159,
 1171153.7085747044,
 1513506.2284858574,
 3868799.0946115665,
 6193988.928671112,
 46823.04648782969,
 7791407.47632006,
 1881839.5475972793,
 25304.258269233298,
 2543255.3677641056,
 2223317.944977338,
 201905.74026755636,
 894702.9462728422,
 20350769.45424739,
 23550453.848849878,
 60463028.74983167,
 40755593.89488892,
 496465.9329220814,
 15358278.763209945,
 17283298.66721201,
 1312605.3625424742,
 1121645.3880983423,
 22916219.74644893,
 415.8031285558434,
 8065147.795125425,
 6080254.558980811,
 386648.6353106627,
 7279763.939792797,
 546004.2688126189,
 2785223.8479287424,
 9863535.892019335,
 36257277.07707612,
 5793141.73865927,
 3105663.7349290974,
 4057765.3192976047,
 3324413.1711640107,
 1008538.7132536944,
 37775259.319551244,
 2747386.0563590424,
 18131142.327727303,
 16369108.320410375,
 788316.7743474656,
 17069104.960792348,
 4944044.126558552,
 398916.03740333155,
 12326375.813251192,
 59291.5100940568,
 6759383.202578156,
 2211269.880948384,
 16201063.211432341,
 1833781.7274855264,
 9225106.896706596,
 70549.9566372372,
 37958.86476164177,
 7624096.2777629625,
 17035960.035373364,
 18412613.254754025,
 11402606.53725437,
 18985315.329978842,
 2611069.579373157,
 615524.3587229138,
 14693991.56727598,
 22531039.143046677,
 26036310.57328569,
 2617532.554389106,
 2461098.068465178,
 285503.11032743484,
 1716101.0412753997,
 1974462.4257375915,
 77720.38407713587,
 8265910.944366109,
 7939080.224394286,
 7296872.768496002,
 57400.4649520104,
 25025301.519066766,
 54761530.63177734,
 4209568.665774563,
 6283774.832465441,
 444066.1804739183,
 68972.81084148755,
 5253519.5607990865,
 1534000.270357266,
 92513248.06169397,
 9185549.76297207,
 10472660.56599728,
 11445232.985642832,
 160468.77057175504,
 12900079.760219645,
 659097.7844262816,
 486804.37485666026,
 6457061.9693714995,
 3625671.086923297,
 29155047.429305322,
 25217547.44207109,
 8627818.872568967,
 3930409.415703055,
 3678083.5471514245,
 4596410.7022637585,
 15515146.79350506,
 612472.2414972291,
 401079.0047683775,
 8415460.678806057,
 91194552.31083836,
 1013452.954276594,
 4341947.270124608,
 93839.4459546129,
 11146.553369867248,
 3430458.080472075,
 10777899.382555434,
 13771787.656909503,
 8953241.010433683,
 9224243.96379831,
 1736133.7417298164,
 81047.07438951779,
 5546478.0780179035,
 419150.165859193,
 20991769.128037445,
 27966034.52053727,
 161859.71377219065,
 2810272.769010786,
 221234.59435103284,
 11322055.395531474,
 15329855.349891383,
 376813.0226696386,
 4067238.2245233785,
 349790.3060039283,
 376779.9020665911,
 370821.7000072034,
 260058.2995017749,
 13204197.310827602,
 2309530.3637392437,
 14809224.259504914,
 8312983.588482091,
 7611739.763669723,
 272654.2683139557,
 5368865.711516284,
 1978737.2186534056,
 9217906.509525519,
 6521072.797561035,
 183618.53436565003,
 2600980.717301744,
 191318.03149603453,
 399769.0771463261,
 18095475.38656519,
 7391123.889810401,
 684692.6497574683,
 6876730.834113536,
 1305431.2622016943,
 10977961.308033714,
 20404870.2327203,
 6037414.335918081,
 18390149.62810897,
 20050475.929446556,
 6907145.800202877,
 117804.7644087262,
 1108861.0384290172,
 2714873.0358432876,
 8224616.102574903,
 1582910.0393203564,
 3670343.5806895215,
 1394937.4221144838,
 2562190.5527132973,
 7456581.437196173,
 280426.8683902726,
 543794.1069535004,
 13240030.124806596,
 30939791.7898686,
 6009608.219256568,
 1422087.1381528422,
 5544220.835534891,
 2645830.7617027485,
 3588897.818811411,
 2138658.840271462,
 28747665.622929182,
 4423645.27279845,
 9717858.120801246,
 3415510.6210960243,
 8472747.98075065,
 22218348.862594232,
 12005225.395587504,
 3546.7461499187125,
 4095146.2861936754,
 25057291.543102194,
 20273162.486439146,
 11955105.730807817,
 5261600.508490059,
 12769858.15099575,
 15455341.242179096,
 878243.4150011328,
 10298383.707590085,
 157582.89746828168,
 14558113.8763892,
 1118519.8122463548,
 2034779.5925748502,
 6037279.973474668,
 1791808.584631578,
 12723273.868214998,
 3924018.328971378,
 9739037.009225246,
 2120381.2328348765,
 19934579.45973766,
 5261693.791999804,
 2612536.241312106,
 4795251.262022812,
 792791.513628731,
 20378778.00006916,
 9887720.36625604,
 1669.5689996183946,
 208385.45804761388,
 128194.07952590584,
 18261263.898138452,
 8141818.771799756,
 1440893.3958575616,
 3902991.630888369,
 115366.65660808883,
 2514290.5676421295,
 99673.63287138361,
 35246771.30955483,
 5341073.907188966,
 14878647.894535027,
 6485513.019247377,
 5889464.959840495,
 606738.4978463114,
 9784052.623652015,
 11449823.441722946,
 2335051.8281469913,
 372601.77414435043,
 3390839.027562839,
 6051045.993664937,
 787432.1409981531,
 4869498.479856365,
 423490.115201685,
 47896513.29039402,
 136405.46598292585,
 641534.0005340298,
 1356693.4900535853,
 271638.4571321038,
 244128.25193632845,
 438238.7674968606,
 120215.95877140095,
 28472983.5751421,
 39462.76088364813,
 19263.210958377073,
 31886.964106882442,
 1699249.6120986089,
 8696501.987862587,
 249538.00521278696,
 1255549.2259292356,
 16015618.346130524,
 6749435.48494821,
 32987005.985751685,
 2990236.973353576,
 18112841.393658012,
 6174200.787691588,
 5226615.098580797,
 383517.14216349286,
 8023164.567572516,
 2180565.1195731764,
 34052.00398840286,
 60723427.7939392,
 10289.599726480457,
 16719298.564223276,
 53568915.43042861,
 5950499.274947822,
 13715067.524117984,
 74320751.95383963,
 3243749.343479682,
 3116360.5363080995,
 2218832.5167266154,
 4533692.433622299,
 2793291.773377124,
 4059401.7328313673,
 7081634.668810355,
 13550859.513188519,
 1421984.6539784959,
 389000.14128310274,
 861852.2918980914,
 14887681.986379612,
 31194145.965935793,
 16741767.96324048,
 9232646.204767352,
 5722287.314046375,
 9518482.06402577,
 17600751.810695462,
 70329167.51464966,
 9447.519847650823,
 173674.05483529813,
 3228137.5320904455,
 3447641.17390876,
 22139415.821890708,
 3586272.2002917803,
 6649962.249481642,
 4339149.386162461,
 513387.25707240676,
 1813766.0554884898,
 2145824.3380251476,
 39430440.04540319,
 454227.81377890345,
 1626888.2029670812,
 10237324.103921734,
 2359792.216606332,
 5425210.9561021,
 4004636.071289743,
 10557422.744944777,
 11692859.114730636,
 21246287.603884924,
 3648881.9446154293,
 95538.75304564708,
 1303873.4576071678,
 2415494.5100231734,
 27145489.651632477,
 57206330.45870597,
 3765577.7214547605,
 512663.69809167966,
 11156786.651739532,
 12610902.39138031,
 3053625.8675178606,
 91493.92861210235,
 44505.9867248362,
 66416.97516001834,
 294765.2987663118,
 340738.70369424974,
 3971183.446870961,
 94343465.36154498,
 817164.6633083156,
 4398539.655238838,
 4629013.038460676,
 21996834.42680601,
 42222511.750147596,
 1289019.851700695,
 9235719.023189025,
 55508.02660874564,
 12796700.135617942,
 7974510.401910449,
 23653039.78042264,
 1690027.1782957525,
 18496918.495571986,
 6376641.20918706,
 6804.710188696122,
 4470160.609822605,
 28663.394062937885,
 13851665.2246112,
 17134405.866992753,
 4026267.2739031133,
 7590495.305735966,
 3155498.321355083,
 7685776.786120569,
 21807.516611317544,
 20903.887874426786,
 1543972.4215802387,
 19546591.619344577,
 562897.9852984083,
 257697.30560563452,
 45362141.2340321,
 377352.78597800806,
 66136451.229411945,
 6409929.010677723,
 1676746.2296478425,
 5457500.893400619,
 2374346.4468216556,
 40351.346755003826,
 3928445.2236067425,
 18052.116581133727,
 45720843.62778449,
 1922339.0202597058,
 1542672.2585568095,
 4525635.594636277,
 6251393.952050915,
 5638729.792688245,
 2301058.502259305,
 19546397.08091212,
 7580536.678621336,
 100197.81715511199,
 1199726.8065173717,
 68242.81352444587,
 1298025.257532667,
 7272555.632818847,
 34978501.17929287,
 14204283.894841332,
 2356425.5430929363,
 85219412.24728355,
 1230046.6188380613,
 361494.7425489955,
 1932510.5880481899,
 390773.0758267859,
 2488689.170656632,
 603253.4483743472,
 7642566.589420622,
 1254190.2885699233,
 8352785.176541687,
 871408.9561604946,
 317986.8754041322,
 773678.8405033416,
 1951056.3398548013,
 7789327.263811695,
 13183383.624877058,
 30796985.193297792,
 24168293.261337187,
 48506740.21041166,
 15576878.469845138,
 7062518.917655725,
 78939809.38015735,
 1657776.9593204698,
 3361240.4313667766,
 546527.8898476221,
 16464068.062017806,
 3648702.1519897124,
 100754.4517995511,
 4158898.902347889,
 18694186.768865116,
 1432358.3615065631,
 10109.95071028004,
 3582346.246631992,
 2172970.2916014073,
 213955.5519739734,
 46147636.12700267,
 3106931.7500578808,
 12110609.03635782,
 8593033.73043444,
 29819881.050818965,
 19169208.13873071,
 875359.5159265235,
 339518.5464414215,
 3429473.7884889017,
 20337878.2671381,
 23656804.851121407,
 789324.6629662814,
 1214088.1469300024,
 49647644.42205938,
 3462373.318636859,
 1226786.6159423208,
 21980113.069348946,
 431594.5861314984,
 30808939.9673626,
 4942944.560824953,
 3180739.471539314,
 3941210.1951521053,
 11536651.549035035,
 1613518.3882704035,
 39061782.60651964,
 5793045.8425197685,
 3907834.668797519,
 7958014.421899762,
 70058477.36608334,
 715921.6893927412,
 248488.10736391152,
 101594.23575289696,
 5304120.800142227,
 243695.04786960542,
 22585770.4108248,
 699707.9680414586,
 247387.52431898957,
 2813113.6278092177,
 4933752.844422019,
 18942920.375401206,
 1174812.4713170363,
 54561583.369286686,
 2510419.6155805457,
 1353940.6847915598,
 7392021.088670914,
 4608943.792542563,
 2905271.540572567,
 231081.47622709427,
 29070495.400443945,
 78328577.96395257,
 4597702.997053558,
 2180594.179119055,
 2937350.211376913,
 3547992.452027536,
 11291582.176374672,
 50003813.9944524,
 1696558.3059798237,
 39342003.12114593,
 88575.70023541224,
 1848.6661000567144,
 10219211.089307811,
 8075053.631446974,
 6367988.396354315,
 3729.918934961355,
 71181.07358257376,
 1335749.555177597,
 6218254.381875876,
 17423029.26481735,
 4215864.676364729,
 4216150.90119455,
 61791.742687346305,
 6156795.749833677,
 32689689.412885718,
 864925.442948553,
 4614.0585161104855,
 706260.9818784818,
 24932575.442580782,
 9797724.530584214,
 21388889.076163854,
 39855988.1420697,
 14573109.546930805,
 13480844.516793614,
 25127449.695516583,
 15847230.490212146,
 62868909.731529236,
 17785480.432484735,
 88676464.03378698,
 10391590.713286296,
 491363.69532186165,
 24286172.99445363,
 44156320.11446225,
 6515187.866971833,
 3559931.4175142194,
 2681039.995409078,
 9237361.792178914,
 275234.7794408509,
 4028068.6743539646,
 978926.588645697,
 50008401.661961235,
 214392.3198800907,
 6508372.835720365,
 13722997.678349916,
 1111427.6968922166,
 12475886.667604286,
 5330946.199396166,
 962041.4049469249,
 8571701.173673972,
 8710690.382470857,
 32838.089722379555,
 477358.62066431175,
 15355457.221356349,
 2673073.7921690634,
 3933674.5037719053,
 99519.40818652946,
 5525271.807296718,
 1764984.9576365713,
 6355299.091615049,
 8040888.954089228,
 2882978.0627803477,
 52687.20148648278,
 3775424.1756731453,
 2382234.270712029,
 17261439.242160074,
 242530.18876159601,
 56211869.588284984,
 15545973.68690687,
 5498327.851040338,
 32662.094785191915,
 1818551.8544593279,
 33214057.262944467,
 8220020.5905683795,
 287574.18945166026,
 2548622.0132306563,
 4127560.8148116795,
 26538504.37669148,
 36222646.450640224,