# Introduction 

This notebook will generate a common employment data with following columns :
1. ID : Employe ID
2. DOB : Date of Birth
3. DOH : Date of Hire
4. Salary

In [1]:
import pandas as pd
import numpy as np
import datetime

In [34]:
emp_counts = 50
data = pd.DataFrame(data = {"id" : np.random.randint(0, emp_counts*10, emp_counts), 
                            'dob' : [str(np.random.randint(1940, 1999)) + '-' + str(np.random.randint(1,12)) + '-' + str(np.random.randint(1,31)) for i in range (50)],
                            'doh' : [str(np.random.randint(2010, 2022)) + '-' + str(np.random.randint(1,12)) + '-' + str(np.random.randint(1,31)) for i in range (50)],
                            'salary' : np.round(np.random.randn(emp_counts)**2*1e3,2)})
data['dob'] = pd.to_datetime(data['dob'])
data['doh'] = pd.to_datetime(data['doh'])
data

     id        dob        doh   salary
0   317 1961-06-04 2020-06-22  7919.04
1   476 1988-03-25 2014-07-23    27.74
2   449 1987-11-01 2011-02-12   462.38
3   490 1943-04-28 2018-05-11   972.55
4   379 1960-09-23 2010-08-14    65.37
5   164 1986-07-02 2015-03-13  1524.39
6   101 1966-05-09 2012-06-30   315.80
7   442 1987-07-08 2020-05-09   235.28
8    36 1950-07-28 2016-02-07   128.11
9    36 1981-05-07 2020-10-24  1019.26
10   41 1969-05-16 2015-06-05  3186.57
11  153 1961-07-13 2014-06-21   431.82
12   75 1958-05-07 2019-03-26  1315.17
13  190 1990-06-19 2011-10-22  3214.91
14  295 1996-07-16 2013-01-02  1804.66
15   70 1958-09-30 2011-01-08   147.13
16  431 1956-03-09 2012-11-23   173.15
17  475 1968-06-10 2016-06-30    26.65
18  223 1995-04-15 2019-06-23   126.72
19   73 1972-05-13 2015-08-07  2297.98
20  169 1959-01-18 2015-11-29   275.08
21  247 1948-06-14 2020-08-14  1076.24
22  179 1949-10-22 2013-08-22  1153.05
23    2 1962-03-10 2016-01-27     8.31
24  170 1979-07-22 2015-02-20   135.80
25  342 1981-02-07 2010-06-09   800.82
26    7 1970-01-15 2010-05-08   646.49
27  358 1968-02-06 2014-03-09    13.30
28  433 1963-11-11 2019-11-09   118.63
29  124 1953-11-03 2012-05-22   376.70
30  152 1950-01-18 2016-10-28  2035.12
31  262 1940-03-05 2016-05-12  2187.40
32  211 1986-03-08 2013-02-13   850.63
33  381 1978-11-28 2012-11-06  2266.03
34  323 1998-10-28 2013-04-20   927.78
35  433 1975-03-06 2020-04-01  4051.90
36   48 1957-06-07 2020-10-26   129.61
37  473 1974-01-06 2018-01-30   234.51
38  187 1970-02-21 2014-05-07    46.37
39   62 1953-06-07 2019-05-05  1140.29
40  203 1957-02-22 2016-11-24    78.42
41  496 1953-08-26 2016-07-02   158.92
42  164 1967-03-24 2019-06-03    29.13
43   86 1986-01-07 2015-10-22   447.67
44  467 1976-02-26 2011-02-25    10.55
45  139 1979-04-15 2012-07-29  5466.69
46  431 1997-04-04 2013-09-13   939.60
47  143 1953-04-21 2018-02-12  5828.21
48  471 1975-05-17 2013-07-18   400.03
49  368 1971-05-01 2012-06-25    15.16

# Processing
We need the information of **Age** and **Year of Service (YOS)** of each of the employees.

In [50]:
val_date = pd.Timestamp('2022-12-31')
data['age'] = np.round((val_date- data.dob)/np.timedelta64(1, 'Y'),2)
data['yos'] = np.round((val_date- data.doh)/np.timedelta64(1, 'Y'),2)

In [51]:
data

     id        dob        doh   salary    age    yos
0   317 1961-06-04 2020-06-22  7919.04  61.58   2.52
1   476 1988-03-25 2014-07-23    27.74  34.77   8.44
2   449 1987-11-01 2011-02-12   462.38  35.17  11.88
3   490 1943-04-28 2018-05-11   972.55  79.68   4.64
4   379 1960-09-23 2010-08-14    65.37  62.27  12.38
5   164 1986-07-02 2015-03-13  1524.39  36.50   7.80
6   101 1966-05-09 2012-06-30   315.80  56.65  10.50
7   442 1987-07-08 2020-05-09   235.28  35.48   2.64
8    36 1950-07-28 2016-02-07   128.11  72.43   6.90
9    36 1981-05-07 2020-10-24  1019.26  41.65   2.18
10   41 1969-05-16 2015-06-05  3186.57  53.63   7.57
11  153 1961-07-13 2014-06-21   431.82  61.47   8.53
12   75 1958-05-07 2019-03-26  1315.17  64.65   3.77
13  190 1990-06-19 2011-10-22  3214.91  32.53  11.19
14  295 1996-07-16 2013-01-02  1804.66  26.46   9.99
15   70 1958-09-30 2011-01-08   147.13  64.25  11.98
16  431 1956-03-09 2012-11-23   173.15  66.81  10.10
17  475 1968-06-10 2016-06-30    26.65  54.56   6.50
18  223 1995-04-15 2019-06-23   126.72  27.71   3.52
19   73 1972-05-13 2015-08-07  2297.98  50.63   7.40
20  169 1959-01-18 2015-11-29   275.08  63.95   7.09
21  247 1948-06-14 2020-08-14  1076.24  74.55   2.38
22  179 1949-10-22 2013-08-22  1153.05  73.19   9.36
23    2 1962-03-10 2016-01-27     8.31  60.81   6.93
24  170 1979-07-22 2015-02-20   135.80  43.45   7.86
25  342 1981-02-07 2010-06-09   800.82  41.90  12.56
26    7 1970-01-15 2010-05-08   646.49  52.96  12.65
27  358 1968-02-06 2014-03-09    13.30  54.90   8.81
28  433 1963-11-11 2019-11-09   118.63  59.14   3.14
29  124 1953-11-03 2012-05-22   376.70  69.16  10.61
30  152 1950-01-18 2016-10-28  2035.12  72.95   6.17
31  262 1940-03-05 2016-05-12  2187.40  82.82   6.64
32  211 1986-03-08 2013-02-13   850.63  36.82   9.88
33  381 1978-11-28 2012-11-06  2266.03  44.09  10.15
34  323 1998-10-28 2013-04-20   927.78  24.18   9.70
35  433 1975-03-06 2020-04-01  4051.90  47.82   2.75
36   48 1957-06-07 2020-10-26   129.61  65.57   2.18
37  473 1974-01-06 2018-01-30   234.51  48.98   4.92
38  187 1970-02-21 2014-05-07    46.37  52.86   8.65
39   62 1953-06-07 2019-05-05  1140.29  69.57   3.66
40  203 1957-02-22 2016-11-24    78.42  65.85   6.10
41  496 1953-08-26 2016-07-02   158.92  69.35   6.50
42  164 1967-03-24 2019-06-03    29.13  55.77   3.58
43   86 1986-01-07 2015-10-22   447.67  36.98   7.19
44  467 1976-02-26 2011-02-25    10.55  46.85  11.85
45  139 1979-04-15 2012-07-29  5466.69  43.71  10.42
46  431 1997-04-04 2013-09-13   939.60  25.74   9.30
47  143 1953-04-21 2018-02-12  5828.21  69.70   4.88
48  471 1975-05-17 2013-07-18   400.03  47.63   9.45
49  368 1971-05-01 2012-06-25    15.16  51.67  10.52