In [2]:
import pandas as pd
import datetime 
import numpy as np

In [4]:
counts = 10000
data = pd.DataFrame(data = {"id" : np.random.randint(0, counts*10, counts), 
                            'reported-date' : [str(np.random.randint(2010, 2015)) + '-' + str(np.random.randint(1,12)) for i in range (counts)],
                            'paid-date' : [str(np.random.randint(2010, 2022)) + '-' + str(np.random.randint(1,12)) for i in range (counts)],
                            'paid-claim' : np.round(np.random.randn(counts)**2*1e3,2)})
data

         id reported-date paid-date  paid-claim
0     45353        2011-4    2011-5      337.44
1      1110        2014-9   2015-11       15.78
2     24170        2013-9    2015-3      381.72
3     86362        2012-5    2018-2     3293.77
4     90413        2013-3    2010-3      880.53
...     ...           ...       ...         ...
9995  77409        2011-4   2016-10      915.19
9996  72777        2014-6    2019-2     1442.76
9997  26364        2012-9   2021-11       85.76
9998  80295       2012-10    2012-3      208.08
9999  84747        2011-2    2010-3      701.63

[10000 rows x 4 columns]

In [5]:
data.to_excel('dummy.xlsx')